In [1]:
import pandas as pd
df = pd.read_csv("https://download.bls.gov/pub/time.series/ap/ap.data.3.Food", sep="\t", low_memory=False)
df

        series_id          year period         value  footnote_codes
0       APU0000701111      1980    M01         0.203             NaN
1       APU0000701111      1980    M02         0.205             NaN
2       APU0000701111      1980    M03         0.211             NaN
3       APU0000701111      1980    M04         0.206             NaN
4       APU0000701111      1980    M05         0.207             NaN
...                   ...   ...    ...           ...             ...
141577  APU0400FS1101      2022    M10         5.082             NaN
141578  APU0400FS1101      2022    M11         5.070             NaN
141579  APU0400FS1101      2022    M12         5.296             NaN
141580  APU0400FS1101      2023    M01         5.219             NaN
141581  APU0400FS1101      2023    M02         5.129             NaN

[141582 rows x 5 columns]

In [2]:
df.columns

Index(['series_id        ', 'year', 'period', '       value',
       'footnote_codes'],
      dtype='object')

In [3]:
df.columns = list(map(str.strip, df.columns))
df.columns

Index(['series_id', 'year', 'period', 'value', 'footnote_codes'], dtype='object')

In [4]:
df["footnote_codes"].isnull().sum()

141582

In [5]:
df=df.drop(["footnote_codes"],axis=1)

In [6]:
df["series_id"].unique()

array(['APU0000701111    ', 'APU0000701311    ', 'APU0000701312    ',
       'APU0000701321    ', 'APU0000701322    ', 'APU0000702111    ',
       'APU0000702112    ', 'APU0000702211    ', 'APU0000702212    ',
       'APU0000702213    ', 'APU0000702221    ', 'APU0000702411    ',
       'APU0000702421    ', 'APU0000702611    ', 'APU0000703111    ',
       'APU0000703112    ', 'APU0000703113    ', 'APU0000703211    ',
       'APU0000703212    ', 'APU0000703213    ', 'APU0000703311    ',
       'APU0000703312    ', 'APU0000703411    ', 'APU0000703421    ',
       'APU0000703422    ', 'APU0000703423    ', 'APU0000703425    ',
       'APU0000703431    ', 'APU0000703432    ', 'APU0000703511    ',
       'APU0000703512    ', 'APU0000703611    ', 'APU0000703612    ',
       'APU0000703613    ', 'APU0000704111    ', 'APU0000704211    ',
       'APU0000704212    ', 'APU0000704311    ', 'APU0000704312    ',
       'APU0000704313    ', 'APU0000704314    ', 'APU0000704321    ',
       'APU0000704411    ', 'APU0000704412    ', 'APU0000704413    ',
       'APU0000704421    ', 'APU0000705111    ', 'APU0000705121    ',
       'APU0000705141    ', 'APU0000705142    ', 'APU0000706111    ',
       'APU0000706211    ', 'APU0000706212    ', 'APU0000706311    ',
       'APU0000707111    ', 'APU0000708111    ', 'APU0000708112    ',
       'APU0000709111    ', 'APU0000709112    ', 'APU0000709211    ',
       'APU0000709212    ', 'APU0000709213    ', 'APU0000710111    ',
       'APU0000710122    ', 'APU0000710211    ', 'APU0000710212    ',
       'APU0000710411    ', 'APU0000711111    ', 'APU0000711211    ',
       'APU0000711311    ', 'APU0000711312    ', 'APU0000711411    ',
       'APU0000711412    ', 'APU0000711413    ', 'APU0000711414    ',
       'APU0000711415    ', 'APU0000711416    ', 'APU0000711417    ',
       'APU0000711418    ', 'APU0000712111    ', 'APU0000712112    ',
       'APU0000712211    ', 'APU0000712311    ', 'APU0000712401    ',
       'APU0000712402    ', 'APU0000712403    ', 'APU0000712404    ',
       'APU0000712405    ', 'APU0000712406    ', 'APU0000712407    ',
       'APU0000712408    ', 'APU0000712409    ', 'APU0000712410    ',
       'APU0000712411    ', 'APU0000712412    ', 'APU0000713111    ',
       'APU0000713311    ', 'APU0000713312    ', 'APU0000714111    ',
       'APU0000714221    ', 'APU0000714231    ', 'APU0000714232    ',
       'APU0000714233    ', 'APU0000715111    ', 'APU0000715211    ',
       'APU0000715212    ', 'APU0000715311    ', 'APU0000716111    ',
       'APU0000716113    ', 'APU0000716114    ', 'APU0000716116    ',
       'APU0000716121    ', 'APU0000716141    ', 'APU0000717111    ',
       'APU0000717112    ', 'APU0000717113    ', 'APU0000717114    ',
       'APU0000717311    ', 'APU0000717312    ', 'APU0000717324    ',
       'APU0000717325    ', 'APU0000717326    ', 'APU0000717327    ',
       'APU0000717411    ', 'APU0000717412    ', 'APU0000717413    ',
       'APU0000718311    ', 'APU0000718631    ', 'APU0000720111    ',
       'APU0000720211    ', 'APU0000720221    ', 'APU0000720222    ',
       'APU0000720311    ', 'APU0000FC1101    ', 'APU0000FC2101    ',
       'APU0000FC3101    ', 'APU0000FC4101    ', 'APU0000FD2101    ',
       'APU0000FD3101    ', 'APU0000FD4101    ', 'APU0000FF1101    ',
       'APU0000FJ1101    ', 'APU0000FJ4101    ', 'APU0000FL2101    ',
       'APU0000FN1101    ', 'APU0000FN1102    ', 'APU0000FS1101    ',
       'APU0100701111    ', 'APU0100701311    ', 'APU0100701312    ',
       'APU0100701321    ', 'APU0100701322    ', 'APU0100702111    ',
       'APU0100702212    ', 'APU0100702221    ', 'APU0100702411    ',
       'APU0100702421    ', 'APU0100702611    ', 'APU0100703111    ',
       'APU0100703112    ', 'APU0100703113    ', 'APU0100703211    ',
       'APU0100703213    ', 'APU0100703311    ', 'APU0100703411    ',
       'APU0100703421    ', 'APU0100703422    ', 'APU0100703423    ',
       'APU0100703425    ', 'APU0100703431    ', 'APU0100703432    ',
       'APU0100703511    ', 'APU0100703512    ', 'APU0100703611    ',
       'APU0100703612    ', 'APU0100703613    ', 'APU0100704111    ',
       'APU0100704211    ', 'APU0100704212    ', 'APU0100704311    ',
       'APU0100704312    ', 'APU0100704314    ', 'APU0100704321    ',
       'APU0100704413    ', 'APU0100705111    ', 'APU0100705121    ',
       'APU0100705141    ', 'APU0100706111    ', 'APU0100706211    ',
       'APU0100706212    ', 'APU0100706311    ', 'APU0100707111    ',
       'APU0100708111    ', 'APU0100709111    ', 'APU0100709112    ',
       'APU0100709211    ', 'APU0100709212    ', 'APU0100710111    ',
       'APU0100710122    ', 'APU0100710211    ', 'APU0100710212    ',
       'APU0100710411    ', 'APU0100711111    ', 'APU0100711211    ',
       'APU0100711311    ', 'APU0100711312    ', 'APU0100711411    ',
       'APU0100711412    ', 'APU0100711413    ', 'APU0100711414    ',
       'APU0100711415    ', 'APU0100711416    ', 'APU0100711417    ',
       'APU0100711418    ', 'APU0100712111    ', 'APU0100712112    ',
       'APU0100712211    ', 'APU0100712311    ', 'APU0100712401    ',
       'APU0100712402    ', 'APU0100712403    ', 'APU0100712404    ',
       'APU0100712405    ', 'APU0100712406    ', 'APU0100712407    ',
       'APU0100712408    ', 'APU0100712409    ', 'APU0100712410    ',
       'APU0100712412    ', 'APU0100713111    ', 'APU0100714111    ',
       'APU0100714221    ', 'APU0100714231    ', 'APU0100714232    ',
       'APU0100714233    ', 'APU0100715111    ', 'APU0100715211    ',
       'APU0100715212    ', 'APU0100715311    ', 'APU0100716114    ',
       'APU0100716116    ', 'APU0100716121    ', 'APU0100716141    ',
       'APU0100717111    ', 'APU0100717113    ', 'APU0100717114    ',
       'APU0100717311    ', 'APU0100717312    ', 'APU0100717411    ',
       'APU0100717412    ', 'APU0100717413    ', 'APU0100718311    ',
       'APU0100718631    ', 'APU0100720111    ', 'APU0100720221    ',
       'APU0100720222    ', 'APU0100720311    ', 'APU0100FC1101    ',
       'APU0100FC2101    ', 'APU0100FC3101    ', 'APU0100FC4101    ',
       'APU0100FD2101    ', 'APU0100FD3101    ', 'APU0100FD4101    ',
       'APU0100FF1101    ', 'APU0100FJ1101    ', 'APU0100FJ4101    ',
       'APU0100FN1101    ', 'APU0100FN1102    ', 'APU0200701111    ',
       'APU0200701311    ', 'APU0200701312    ', 'APU0200701321    ',
       'APU0200701322    ', 'APU0200702111    ', 'APU0200702112    ',
       'APU0200702211    ', 'APU0200702212    ', 'APU0200702221    ',
       'APU0200702411    ', 'APU0200702421    ', 'APU0200702611    ',
       'APU0200703111    ', 'APU0200703112    ', 'APU0200703113    ',
       'APU0200703211    ', 'APU0200703212    ', 'APU0200703213    ',
       'APU0200703311    ', 'APU0200703312    ', 'APU0200703411    ',
       'APU0200703421    ', 'APU0200703422    ', 'APU0200703423    ',
       'APU0200703425    ', 'APU0200703431    ', 'APU0200703432    ',
       'APU0200703511    ', 'APU0200703512    ', 'APU0200703611    ',
       'APU0200703612    ', 'APU0200703613    ', 'APU0200704111    ',
       'APU0200704211    ', 'APU0200704212    ', 'APU0200704311    ',
       'APU0200704312    ', 'APU0200704321    ', 'APU0200704411    ',
       'APU0200704412    ', 'APU0200704413    ', 'APU0200704421    ',
       'APU0200705111    ', 'APU0200705121    ', 'APU0200705141    ',
       'APU0200706111    ', 'APU0200706211    ', 'APU0200706212    ',
       'APU0200706311    ', 'APU0200707111    ', 'APU0200708111    ',
       'APU0200709111    ', 'APU0200709112    ', 'APU0200709211    ',
       'APU0200709212    ', 'APU0200709213    ', 'APU0200710111    ',
       'APU0200710122    ', 'APU0200710211    ', 'APU0200710212    ',
       'APU0200710411    ', 'APU0200711111    ', 'APU0200711211    ',
       'APU0200711311    ', 'APU0200711312    ', 'APU0200711411    ',
       'APU0200711412    ', 'APU0200711413    ', 'APU0200711414    ',
       'APU0200711415    ', 'APU0200711416    ', 'APU0200711417    ',
       'APU0200711418    ', 'APU0200712111    ', 'APU0200712112    ',
       'APU0200712211    ', 'APU0200712311    ', 'APU0200712401    ',
       'APU0200712402    ', 'APU0200712403    ', 'APU0200712404    ',
       'APU0200712405    ', 'APU0200712406    ', 'APU0200712407    ',
       'APU0200712408    ', 'APU0200712409    ', 'APU0200712412    ',
       'APU0200713111    ', 'APU0200713311    ', 'APU0200713312    ',
       'APU0200714111    ', 'APU0200714231    ', 'APU0200714233    ',
       'APU0200715111    ', 'APU0200715211    ', 'APU0200715212    ',
       'APU0200715311    ', 'APU0200716111    ', 'APU0200716113    ',
       'APU0200716114    ', 'APU0200716116    ', 'APU0200716121    ',
       'APU0200716141    ', 'APU0200717111    ', 'APU0200717113    ',
       'APU0200717114    ', 'APU0200717311    ', 'APU0200717312    ',
       'APU0200717324    ', 'APU0200717325    ', 'APU0200717326    ',
       'APU0200717327    ', 'APU0200717411    ', 'APU0200717413    ',
       'APU0200718311    ', 'APU0200718631    ', 'APU0200720111    ',
       'APU0200720221    ', 'APU0200720222    ', 'APU0200720311    ',
       'APU0200FC1101    ', 'APU0200FC2101    ', 'APU0200FC3101    ',
       'APU0200FC4101    ', 'APU0200FD2101    ', 'APU0200FD3101    ',
       'APU0200FD4101    ', 'APU0200FF1101    ', 'APU0200FJ1101    ',
       'APU0200FJ4101    ', 'APU0200FL2101    ', 'APU0200FN1101    ',
       'APU0200FN1102    ', 'APU0200FS1101    ', 'APU0300701111    ',
       'APU0300701312    ', 'APU0300701321    ', 'APU0300701322    ',
       'APU0300702111    ', 'APU0300702112    ', 'APU0300702211    ',
       'APU0300702212    ', 'APU0300702213    ', 'APU0300702221    ',
       'APU0300702411    ', 'APU0300702421    ', 'APU0300702611    ',
       'APU0300703111    ', 'APU0300703112    ', 'APU0300703113    ',
       'APU0300703211    ', 'APU0300703212    ', 'APU0300703213    ',
       'APU0300703311    ', 'APU0300703312    ', 'APU0300703411    ',
       'APU0300703421    ', 'APU0300703422    ', 'APU0300703423    ',
       'APU0300703425    ', 'APU0300703431    ', 'APU0300703432    ',
       'APU0300703511    ', 'APU0300703512    ', 'APU0300703611    ',
       'APU0300703612    ', 'APU0300703613    ', 'APU0300704111    ',
       'APU0300704211    ', 'APU0300704212    ', 'APU0300704311    ',
       'APU0300704312    ', 'APU0300704313    ', 'APU0300704314    ',
       'APU0300704321    ', 'APU0300704411    ', 'APU0300704412    ',
       'APU0300704413    ', 'APU0300704421    ', 'APU0300705111    ',
       'APU0300705121    ', 'APU0300705141    ', 'APU0300706111    ',
       'APU0300706211    ', 'APU0300706212    ', 'APU0300706311    ',
       'APU0300707111    ', 'APU0300708111    ', 'APU0300709111    ',
       'APU0300709112    ', 'APU0300709211    ', 'APU0300709212    ',
       'APU0300709213    ', 'APU0300710111    ', 'APU0300710122    ',
       'APU0300710211    ', 'APU0300710212    ', 'APU0300710411    ',
       'APU0300711111    ', 'APU0300711211    ', 'APU0300711311    ',
       'APU0300711312    ', 'APU0300711411    ', 'APU0300711412    ',
       'APU0300711413    ', 'APU0300711414    ', 'APU0300711415    ',
       'APU0300711416    ', 'APU0300711417    ', 'APU0300711418    ',
       'APU0300712111    ', 'APU0300712112    ', 'APU0300712211    ',
       'APU0300712311    ', 'APU0300712401    ', 'APU0300712402    ',
       'APU0300712403    ', 'APU0300712404    ', 'APU0300712405    ',
       'APU0300712406    ', 'APU0300712407    ', 'APU0300712408    ',
       'APU0300712409    ', 'APU0300712410    ', 'APU0300712412    ',
       'APU0300713111    ', 'APU0300713311    ', 'APU0300713312    ',
       'APU0300714111    ', 'APU0300714221    ', 'APU0300714231    ',
       'APU0300714232    ', 'APU0300714233    ', 'APU0300715111    ',
       'APU0300715211    ', 'APU0300715212    ', 'APU0300715311    ',
       'APU0300716114    ', 'APU0300716116    ', 'APU0300716121    ',
       'APU0300716141    ', 'APU0300717111    ', 'APU0300717112    ',
       'APU0300717113    ', 'APU0300717114    ', 'APU0300717311    ',
       'APU0300717312    ', 'APU0300717324    ', 'APU0300717325    ',
       'APU0300717327    ', 'APU0300717411    ', 'APU0300717412    ',
       'APU0300717413    ', 'APU0300718311    ', 'APU0300718631    ',
       'APU0300720111    ', 'APU0300720211    ', 'APU0300720311    ',
       'APU0300FC1101    ', 'APU0300FC2101    ', 'APU0300FC3101    ',
       'APU0300FC4101    ', 'APU0300FD2101    ', 'APU0300FD3101    ',
       'APU0300FD4101    ', 'APU0300FF1101    ', 'APU0300FJ1101    ',
       'APU0300FJ4101    ', 'APU0300FL2101    ', 'APU0300FN1101    ',
       'APU0300FN1102    ', 'APU0400701111    ', 'APU0400701311    ',
       'APU0400701312    ', 'APU0400701322    ', 'APU0400702111    ',
       'APU0400702112    ', 'APU0400702212    ', 'APU0400702213    ',
       'APU0400702221    ', 'APU0400702411    ', 'APU0400702421    ',
       'APU0400702611    ', 'APU0400703111    ', 'APU0400703112    ',
       'APU0400703113    ', 'APU0400703211    ', 'APU0400703212    ',
       'APU0400703213    ', 'APU0400703311    ', 'APU0400703312    ',
       'APU0400703411    ', 'APU0400703421    ', 'APU0400703422    ',
       'APU0400703432    ', 'APU0400703511    ', 'APU0400703512    ',
       'APU0400703612    ', 'APU0400703613    ', 'APU0400704111    ',
       'APU0400704211    ', 'APU0400704212    ', 'APU0400704311    ',
       'APU0400704312    ', 'APU0400704313    ', 'APU0400704314    ',
       'APU0400704321    ', 'APU0400704412    ', 'APU0400704413    ',
       'APU0400704421    ', 'APU0400705111    ', 'APU0400705121    ',
       'APU0400705141    ', 'APU0400706111    ', 'APU0400706211    ',
       'APU0400706212    ', 'APU0400706311    ', 'APU0400707111    ',
       'APU0400708112    ', 'APU0400709111    ', 'APU0400709112    ',
       'APU0400709211    ', 'APU0400709212    ', 'APU0400709213    ',
       'APU0400710111    ', 'APU0400710122    ', 'APU0400710211    ',
       'APU0400710212    ', 'APU0400710411    ', 'APU0400711111    ',
       'APU0400711211    ', 'APU0400711311    ', 'APU0400711312    ',
       'APU0400711411    ', 'APU0400711412    ', 'APU0400711413    ',
       'APU0400711414    ', 'APU0400711415    ', 'APU0400711416    ',
       'APU0400711417    ', 'APU0400711418    ', 'APU0400712111    ',
       'APU0400712112    ', 'APU0400712211    ', 'APU0400712311    ',
       'APU0400712401    ', 'APU0400712402    ', 'APU0400712403    ',
       'APU0400712404    ', 'APU0400712406    ', 'APU0400712407    ',
       'APU0400712408    ', 'APU0400712409    ', 'APU0400712410    ',
       'APU0400712411    ', 'APU0400712412    ', 'APU0400713111    ',
       'APU0400714111    ', 'APU0400714231    ', 'APU0400714232    ',
       'APU0400714233    ', 'APU0400715111    ', 'APU0400715211    ',
       'APU0400715212    ', 'APU0400716111    ', 'APU0400716113    ',
       'APU0400716114    ', 'APU0400716116    ', 'APU0400716121    ',
       'APU0400716141    ', 'APU0400717111    ', 'APU0400717112    ',
       'APU0400717113    ', 'APU0400717114    ', 'APU0400717311    ',
       'APU0400717312    ', 'APU0400717324    ', 'APU0400717325    ',
       'APU0400717326    ', 'APU0400717411    ', 'APU0400717413    ',
       'APU0400718311    ', 'APU0400718631    ', 'APU0400720111    ',
       'APU0400720211    ', 'APU0400720221    ', 'APU0400720222    ',
       'APU0400720311    ', 'APU0400FC1101    ', 'APU0400FC2101    ',
       'APU0400FC3101    ', 'APU0400FC4101    ', 'APU0400FD2101    ',
       'APU0400FD3101    ', 'APU0400FD4101    ', 'APU0400FF1101    ',
       'APU0400FJ1101    ', 'APU0400FJ4101    ', 'APU0400FL2101    ',
       'APU0400FN1101    ', 'APU0400FN1102    ', 'APU0400FS1101    '],
      dtype=object)

In [7]:
df['series_id'] = df['series_id'].str.strip()

In [8]:
df_bread = df[df["series_id"] == "APU0000702111"]
df_bread = df_bread.drop(["series_id"],axis=1).reset_index(drop=True)
df_bread

     year period         value
0    1980    M01         0.501
1    1980    M02         0.507
2    1980    M03         0.502
3    1980    M04         0.507
4    1980    M05         0.504
..    ...    ...           ...
513  2022    M10         1.814
514  2022    M11         1.847
515  2022    M12         1.873
516  2023    M01         1.888
517  2023    M02         1.896

[518 rows x 3 columns]

In [9]:
df_flour = df[df["series_id"] == "APU0000701111"]
df_flour = df_flour.drop(["series_id"],axis=1).reset_index(drop=True)
df_flour

     year period         value
0    1980    M01         0.203
1    1980    M02         0.205
2    1980    M03         0.211
3    1980    M04         0.206
4    1980    M05         0.207
..    ...    ...           ...
512  2022    M10         0.534
513  2022    M11         0.524
514  2022    M12         0.522
515  2023    M01         0.540
516  2023    M02         0.550

[517 rows x 3 columns]

In [10]:
df["period"].unique()

array(['M01', 'M02', 'M03', 'M04', 'M05', 'M06', 'M07', 'M08', 'M09',
       'M10', 'M11', 'M12'], dtype=object)

In [11]:
def time_indexed_series(df):
  df["year_period"] = df["year"].astype(str) + "-" + df["period"].str[1:]
  df=df.set_index(pd.to_datetime(df["year_period"], format="%Y-%m"))
  return df["value"]

In [12]:
def delayed_df(series, k):
    delayed = pd.concat([series.shift(i) for i in range(k+1)], axis=1)
    delayed.columns = [f"t-{i}" for i in range(k, 0, -1)] + ["t"]
    delayed=delayed.dropna()
    return delayed

In [13]:
# create time-indexed series
bread_series = time_indexed_series(df_bread)
flour_series = time_indexed_series(df_flour)

# create delayed dataframes
k=3 #  prior 3 months 
delayed_df_bread = delayed_df(bread_series, k)
delayed_df_flour = delayed_df(flour_series, k)

#create predictor dataset (k-prior average prices)
df_predictor = pd.concat([delayed_df_flour.add_suffix('_flour'), delayed_df_bread.add_suffix('_bread')], axis=1).dropna()

# create label (whether the price increased from the prior value)
label=(df_predictor["t_bread"] > df_predictor[f"t-{k}_bread"]).astype(int)

In [14]:
X = df_predictor.drop(["t_bread","t_flour"],axis=1)
y = label

In [15]:
y.value_counts()

0    330
1    184
dtype: int64

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

# split dataset
train_size = int(0.80 * len(X))
X_train, y_train = X[:train_size], y[:train_size]
X_test, y_test = X[train_size:], y[train_size:] 

# fit log reg model
model = LogisticRegression(penalty=None, solver="newton-cg") # grid search was used
model.fit(X_train, y_train)

# predict labs in test set (prior 100 months)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred) 
print("Accuracy: {:.2f}%".format(accuracy * 100))

conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

Accuracy: 81.55%
Confusion Matrix:
[[52  9]
 [10 32]]

In [17]:
last_month = df_predictor.tail(1).drop(["t-3_flour","t-3_bread"],axis=1)
last_month.columns=X.columns
last_month_label = model.predict(last_month)
print("The price of bread", "will increase" if last_month_label[0] else "will not raise", "in the following month.")

The price of bread will not raise in the following month.